body {
}

.display-none {
    display:none;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

textarea.input-validation-error {
    border: 1px solid #b94a48;
}

select.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-valid {
    display: none;
}

.validation-summary-errors {
    margin-bottom:20px;
}

.validation-summary-errors ul {
    padding-left:0;
}

.validation-summary-errors ul li {
    position: relative;
    display: block;
    padding: 10px 15px;
    list-style: none;
    color: #a94442;
    background-color: #f2dede;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.validation-summary-errors ul li:first-child {
    border-top: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.validation-summary-errors ul li:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}