<?xml version="1.0"?>
<!-- Production Environment.Config
<connectionStrings>
  <add name="DefaultConnectionString" connectionString="Data Source=tcp:s03.winhost.com;Initial Catalog=DB_12575_nw;User ID=DB_12575_nw_user;Password=russell85;Integrated Security=False;"
    providerName="System.Data.SqlClient" />
  <add name="KingsleyioContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=KingsleyioContext-20160226113849; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|KingsleyioContext-20160226113849.mdf"
    providerName="System.Data.SqlClient" />
</connectionStrings>
-->
 <connectionStrings>
   <add name="DefaultConnection"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=ibm-ak;Initial Catalog=KingsleyIO;Integrated Security=True;MultipleActiveResultSets=True" />
</connectionStrings>
