<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="alert alert-success" role="alert"><strong>Success!</strong> You've successfully sent us a message. It'll go directly to our inbox. We'll respond to you as soon as we can.</div>
    </div>
</div>