@using System.Web.Optimization

@{
    ViewBag.Title = "Splash";
    Layout = "~/Views/Shared/_Splash.cshtml";
}

<div class="page-header">
    <h2 class="text-center">Kingsley.io - Coming Soon <br /> <small>(formerly NotableWebsites.com)</small></h2>
</div>

@Html.Action("_Contact", "Home")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}